<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348098179309-2bq95phbq25odnclqo2th80fbcl6gp7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348098179309-2bq95phbq25odnclqo2th80fbcl6gp7a</string>
	<key>API_KEY</key>
	<string>AIzaSyDAEAVWEwOMurcVg_W-vSZ8CQYUvd9xjIs</string>
	<key>GCM_SENDER_ID</key>
	<string>348098179309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialService</string>
	<key>PROJECT_ID</key>
	<string>social-service-3c419</string>
	<key>STORAGE_BUCKET</key>
	<string>social-service-3c419.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348098179309:ios:3dc0e36589c54db7789ce4</string>
</dict>
</plist>